<% provide(:title, "Sign in to Roomie") %>
<h1>Sign in to Roomie!</h1>


<div class="row">
  <div class="span4 well">
    <%= simple_form_for(:session, url: sessions_path) do |f| %>

      
        <legend>Sign In</legend>
      <%= f.input :email %>
      <%= f.input :password %>
      
      <%= f.button :submit, "Sign in" %>
    <% end %>
    
    <p>New to Roomie? <%= link_to "Sign up now!", signup_path %></p>

</div>
</div>