<div class="row">
  <h1><%= @dwelling.nickname %>
  <h3 class="address"><%= "#{@dwelling.street_address} #{@dwelling.city}, #{@dwelling.state}" %></h3>
  
  <h3>Currently living in this dwelling:</h3>
    
    <ul id="roomie_list">
     <% @dwelling.roomies.each do |u| %>
       <li><h4><%= link_to "#{u.first_name} #{u.last_name}", u %></h4></li>
    <% end %>
    </ul>
    
  <h3><%= @dwelling.bills.count %>Active Bills</h3>
    <% @dwelling.bills.each do |b| %>
      <%= link_to b.name, b %>
    <% end %>

</div> 