<div class="row">
  <h2><%= @dwelling.nickname %></h2>
</div>

<div class="row">
  <div class="span6 pull-left"  
  <h3 class="address">
  <%= @dwelling.street_address %></br>
  <%= @dwelling.city %>, <%= @dwelling.state %> <%= @dwelling.zip %>
  </h3>
  </div>
  
  <div class="span6 pull-right">
  <h3>Currently living in this dwelling:</h3>
    
    <ul id="roomie_list">
     <% @dwelling.roomies.each do |u| %>
       <li><h4><%= link_to u.full_name, u %></h4></li>
    <% end %>
    </ul>
  </div>
</div>  
  
  <legend><%= pluralize(@dwelling.bills.count, "Active Bill") %><small> <%= "(#{@dwelling.bills.where(paid: false).count} unpaid)" %></small></legend>
  <small><%= link_to "+ add a new bill", new_bill_path %></small>
    <!-- BEGIN CODE FOR LIST OF BILLS NOT SORTED BY DUE DATE MONTH
    <div class="row">
    <% @dwelling.bills.each do |b| %>
        
        <div class="span3 well <% if b.paid %>paid-bill<% end %>">
          <b><%= link_to b.name, b %></b><% if b.paid %><b> (PAID)</b><% end %></br>
          <%= b.provider %></br>
          <b>Total due:</b> $<%= "%.2f" % b.total_due %></br>
          <b>Due in: </b>
          <% if Time.now > b.due_date %>
            <b>PAST DUE</b> (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% else %>
            <%= distance_of_time_in_words(Time.now, b.due_date) %>
             (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% end %>
          <% if b.user_id == current_user.id %>
            <% unless b.paid %>
              <%= button_to("Mark as paid", controller: "bills", action: "mark_as_paid", id: b.id) %>
            <% end %>
          <% end %>
          <% if b.user_id == current_user.id %>
            <small>This bill is managed by you.</small>
          <% else %>
            <small>This bill is managed by <%= b.user.first_name %></small>
          <% end %>
         
          
        </div>
        
    <% end %>
    </div> 
    END CODE FOR LIST OF BILLS NOT SORTED BY DUE DATE MONTH -->
    
    <% current_month = Time.now.strftime("%B") %> 
    <% next_month = (Time.new(Time.now.year, (Time.now.month + 1), Time.now.day)).strftime("%B") %>
    
    <% next_month_int = 0 %>
    <% @dwelling.bills.each do |b| %>
      <% if b.due_date.month == ( Time.now.month + 1) %>
        <% next_month_int += 1 %>
      <% end %>
    <% end %>
    
    <% this_month_int = 0 %>
    <% @dwelling.bills.each do |b| %>
      <% if b.due_date.month == ( Time.now.month ) %>
        <% this_month_int += 1 %>
      <% end %>
    <% end %>
      
  <% unless this_month_int == 0 %>
    <h2><%= current_month %> Bills</h2>
    <div class="row">
    <table class="table span12 dwelling-bill-list">
          <!-- <thead>
          <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          </tr>
          </thead> -->
    <% @dwelling.bills.each do |b| %>
      <% if b.due_date.strftime("%B") == current_month %>
        
        
          <tbody>
          <tr>
          <td>
          <span class="bill-detail"><%= link_to b.name, b %></span><% if b.paid %><b> (PAID)</b><% end %></br>
          <%= b.provider %>
          </td>
          <td>
          total due</br>
          <span class="bill-detail">$<%= "%.2f" % b.total_due %></span>
          
          </td>
          <td>
          <% if Time.now > b.due_date %>
            <span class="bill-detail">PAST DUE</span> (was due <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% else %>
            due in </br>
            <span class="bill-detail"><%= distance_of_time_in_words(Time.now, b.due_date) %></span>
            (on <%= b.due_date.strftime("%m/%d/%Y") %>)    
          <% end %>
          
          </td>
          <td>
          <% if b.user_id == current_user.id %>
            <% unless b.paid %>
              <%= button_to("Mark as paid", controller: "bills", action: "mark_as_paid", id: b.id) %>
            <% end %>
          <% end %>
          <% if b.user_id == current_user.id %>
            <small>This bill is managed by you.</small></br>
          <% else %>
            <small>This bill is managed by <%= b.user.first_name %></small></br>
          <% end %>
          <% if b.paid && b.user_id == current_user.id %>
            <small class="pull-right">Not paid? <%= link_to "Undo.", controller: "bills", action: "mark_as_unpaid", id: b.id %></small>
          <% end %>
          </td>
        </div>
      <% end %>
    </tr>
    <% end %>
    </div>
    </tbody>
    </table>
  <% else %>
  There are no active bills this month.
  <% end %>
  </div>
  
  <!-- BEGIN CODE FOR NEXT MONTH BILLS -->   
  <% unless next_month_int == 0 %>
    <h2><%= next_month %> Bills</h2>
    <div class="row">
    <table class="table span12 dwelling-bill-list">
          <!-- <thead>
          <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          </tr>
          </thead> -->
    
    <% @dwelling.bills.each do |b| %>
      <% if b.due_date.strftime("%B") == next_month %>
        
        <tbody>
          <tr>
          <td>
          <span class="bill-detail"><%= link_to b.name, b %></span><% if b.paid %><b> (PAID)</b><% end %></br>
          <%= b.provider %>
          </td>
          <td>
          total due</br>
          <span class="bill-detail">$<%= "%.2f" % b.total_due %></span>
          
          </td>
          <td>
          <% if Time.now > b.due_date %>
            <span class="bill-detail">PAST DUE</span> (was due <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% else %>
            due in </br>
            <span class="bill-detail"><%= distance_of_time_in_words(Time.now, b.due_date) %></span>
            (on <%= b.due_date.strftime("%m/%d/%Y") %>)    
          <% end %>
          
          </td>
          <td>
          <% if b.user_id == current_user.id %>
            <% unless b.paid %>
              <%= button_to("Mark as paid", controller: "bills", action: "mark_as_paid", id: b.id) %>
            <% end %>
          <% end %>
          <% if b.user_id == current_user.id %>
            <small>This bill is managed by you.</small></br>
          <% else %>
            <small>This bill is managed by <%= b.user.first_name %></small></br>
          <% end %>
          <% if b.paid && b.user_id == current_user.id %>
            <small class="pull-right">Not paid? <%= link_to "Undo.", controller: "bills", action: "mark_as_unpaid", id: b.id %></small>
          <% end %>
          </td>
        </div>
      <% end %>
    </tr>
    <% end %>
    </div>
    </tbody>
    </table>
    <% else %>
  There are no active bills this month.
  <% end %>
  <!-- END CODE FOR NEXT MONTH BILLS -->
  
  
    <!-- BEGIN CODE FOR BILLS LATER THIS YEAR -->
    <legend>Bills Later This Year</legend>
    <div class="row">
      <% @dwelling.bills.each do |b| %>
        <% unless b.due_date.strftime("%B") == current_month || b.due_date.strftime("%B") == next_month %>
          <div class="span3 well <% if b.paid %>paid-bill<% end %>">
          <b><%= link_to b.name, b %></b><% if b.paid %><b> (PAID)</b><% end %></br>
          <%= b.provider %></br>
          <b>Total due:</b> $<%= "%.2f" % b.total_due %></br>
          <b>Due in: </b>
          <% if Time.now > b.due_date %>
            <b>PAST DUE</b> (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% else %>
            <%= distance_of_time_in_words(Time.now, b.due_date) %>
             (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% end %>
          <% if b.user_id == current_user.id %>
            <% unless b.paid %>
              <%= button_to("Mark as paid", controller: "bills", action: "mark_as_paid", id: b.id) %>
            <% end %>
          <% end %>
          <% if b.user_id == current_user.id %>
            <small>This bill is managed by you.</small>
          <% else %>
            <small>This bill is managed by <%= b.user.first_name %></small>
          <% end %>
          <% if b.paid && b.user_id == current_user.id %>
            <small class="pull-right">Not paid? <%= link_to "Undo.", controller: "bills", action: "mark_as_unpaid", id: b.id %></small>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
    <!-- END CODE FOR BILLS LATER THIS YEAR -->
    
    <legend><%= pluralize(@dwelling.shared_expenses.count, "Expense") %></legend>
    <small><%= link_to "+ add a new expense", new_shared_expense_path %></small></br>
      <% @dwelling.shared_expenses.each do |se| %>
        <%= se.name %> owned by <%= se.user.first_name %> <%= button_to "I bought this.", controller: "shared_expenses", action: "change_owner", id: se.id %>
      <% end %>