<div class="row">
  <h1><%= @dwelling.nickname %>
  
  <h3 class="address">
  <%= @dwelling.street_address %></br>
  <%= @dwelling.city %>, <%= @dwelling.state %> <%= @dwelling.zip %>
  </h3>
  
  <h3>Currently living in this dwelling:</h3>
    
    <ul id="roomie_list">
     <% @dwelling.roomies.each do |u| %>
       <li><h4><%= link_to "#{u.first_name} #{u.last_name}", u %></h4></li>
    <% end %>
    </ul>
    
  <h3><%= @dwelling.bills.count %> Active Bills</h3>
  <small><%= link_to "+ add a new bill", new_bill_path %></small>
    <div class="row">
    <% @dwelling.bills.each do |b| %>
        
        <div class="span3 well">
          <b><%= link_to b.name, b %></b></br>
          <%= b.provider %></br>
          <b>Total due:</b> $<%= b.total_due %></br>
          <b>Due in: </b>
          <% if Time.now > b.due_date %>
          <b>PAST DUE</b> (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% else %>
          <%= distance_of_time_in_words(Time.now, b.due_date) %>
           (on <%= b.due_date.strftime("%m/%d/%Y") %>)</br>
          <% end %>
          <small><%= b.user.first_name %> is responsible for this bill.</small>
          
        </div>
        
    <% end %>
    </div>

</div> 